body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.Home {
    padding: 10px;
}

.world {
    padding: 10px;
}

.navbar .navbar-nav .nav-link {
    background-color: #333;
    border: 1px solid #333;
    border-radius: 9px;
    color: #e3e3e3;
    margin-right: 6px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.worldData .legends .badge {
    padding: 6px;
    margin-right: 3px;
}

.worldData .legends {
    margin-left: 17%;
}

.custom-tooltip {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #333;
    border-radius: 3px;
}

.world .inner .search{
    padding: 10px;
}

.world .worldCharts {
    margin-bottom: 30px;
}

.countries {
    padding: 10px;
}
  
.countries .inner {
    padding: 10px;
}

.countries .inner .sort-by SELECT {
    margin-left: 3px;
}

.countries .inner .sort-by {
    margin-bottom: 8px;
}

.countries .inner .search{
    margin-bottom: 10px;
}

.countries .inner .countryCapsules {
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    width: 220px;
    margin: 3px;
    height: 60px;
    background-color: #e3e3e3!important;
}

.countries .inner .countryCapsules .imageCountry {
    float: left;
}

.countries .inner .countryCapsules .imageCountry img {
    margin-right: 5px;
}

.countries .inner .countryCapsules .imageCountry span {
    margin-right: 2px;
    font-size: 14px;
}

.countryHeadline .country {
    padding: 0px;
}

.country {
    padding: 10px;
}

.country .flag {
    margin-right: 5px;
}

.country .stat {
    margin-right: 5px;
    padding: 10px;
    margin-left: 19px;
}

.country .stat .badge {
    padding: 30px;
    max-width: 230px;
    width: 200px;
    height: 160px;
}

.country .stat .badge .label {
    font-size: 30px;
}
.country .stat .badge .value {
    font-size: 40px;
}

.country .stat .badge .extra {
    font-size: 13px;
    padding: 5px;
}

.country .trends {
    margin-top: 20px;
}

.country .trends .timeseries .chart {
    padding-top: 20px;
}

.country .trends .timeseries .chart H2{
    margin-left: 30px;
    margin-bottom: 14px;
}

.information {
    padding: 10px;
}

.information .heading H2 IMG {
    margin-right: 6px;
}

.indiaState {
    margin-top: 20px;
}

.about .link{
    color: #e3e3e3;
}

.about .link:hover{
    color: #ffffff;
}

.india-state-charts {
    margin-top: 20px;
    padding: 0px;
}

.type-btn-grp {
    float: right;
}

.type-btn-grp .btn {
    border-color: #5A6268;
}

.type-btn-grp .selected {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    box-shadow: 2px solid #000000;
}


