body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.regular-checkbox {
    width: 25px;
    height: 25px;
}

.world {
    padding: 10px;
}

.navbar .navbar-nav .nav-link {
    background-color: #333;
    border: 1px solid #333;
    border-radius: 9px;
    color: #e3e3e3;
    margin-right: 6px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.worldData .legends .badge {
    padding: 6px;
    margin-right: 3px;
}

.worldData .legends {
    margin-left: 17%;
}

.custom-tooltip {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #333;
    border-radius: 3px;
}

.world .inner .search{
    padding: 10px;
}

.world .worldCharts {
    margin-bottom: 30px;
}

.countries {
    padding: 10px;
}
  
.countries .inner {
    padding: 10px;
}

.countries .inner .sort-by SELECT {
    margin-left: 3px;
}

.countries .inner .sort-by {
    margin-bottom: 8px;
}

.countries .inner .search{
    margin-bottom: 10px;
}

.countries .inner .countryCapsules {
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    width: 220px;
    margin: 3px;
    height: 60px;
    background-color: #e3e3e3!important;
}

.countries .inner .countryCapsules .imageCountry {
    float: left;
}

.countries .inner .countryCapsules .imageCountry img {
    margin-right: 5px;
}

.countries .inner .countryCapsules .imageCountry span {
    margin-right: 2px;
    font-size: 14px;
}

.world .compare-widget .countryCapsules {
    padding: 3px;
    margin-left: 4px;
    margin-right: 4px;
}

.world .compare-widget .countryCapsules .imageCountry span {
    margin-left: 3px;
}

.world .compare-widget .country-select {
    margin-left: 5px;
}

.world .compare-widget .country-select .icon{
    color: #FFFFFF;
}

.countryHeadline .country {
    padding: 0px;
}

.country {
    padding: 10px;
}

.country .flag {
    margin-right: 5px;
}

.country .stat {
    padding: 10px;
}

.country .stat .badge {
    padding: 20px;
    max-width: 230px;
    min-width: 200px;
    height: 200px;
    margin-left: 5%;
}

.country .stat .badge .label {
    font-size: 30px;
}
.country .stat .badge .value {
    font-size: 40px;
}

.country .stat .badge .extra {
    font-size: 13px;
    padding: 10px;
}

.country .stat .badge .perct {
    font-size: 20px;
    padding: 8px;
}

.country .trends {
    margin-top: 20px;
}

.country .trends .timeseries .chart {
    padding-top: 20px;
}

.country .trends .timeseries .chart H2{
    margin-left: 30px;
    margin-bottom: 14px;
}

.information {
    padding: 10px;
}

.information .heading H2 IMG {
    margin-right: 6px;
}

.indiaState {
    margin-top: 20px;
}

.about .link{
    color: #e3e3e3;
}

.about .link:hover{
    color: #ffffff;
}

.india-state-charts {
    margin-top: 20px;
    padding: 0px;
}

.type-btn-grp {
    float: right;
}

.type-btn-grp .btn {
    border-color: #5A6268;
}

.type-btn-grp .selected {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    box-shadow: 2px solid #000000;
}

.expandedRow {
    background-color: #FFFFFF!important;
}

.expandedRow :hover {
    background-color: #FFFFFF!important;
}

.expandedRow .district UL LI {
    font-size: 16px;
    list-style: none;
    padding: 5px;
    border: 1px solid #F2F2F2;
}

.expandedRow .district UL LI .notes {
    margin-left: 20px;
    padding: 5px;
    color: #DC3545;
}

.expandedRow .district UL LI .notes .icon {
    margin-right: 5px;
}

.select-country-modal .header .icon{
    margin-right: 5px;
}

.select-country-modal .content LI{
    list-style: none;
    margin-top: 5px;
}

.select-country-modal INPUT.filterbox {
    margin-bottom: 10px;
}

.select-country-modal .content {
    max-height: 300px;
    overflow-y: auto;
    padding: 8px;
}

.time-series-percentage-cases {
    padding-top: 20px;
}

/* Notification Component Styles */

.notification-container {
    margin-right: 15px;
}

/* Notifications */

.notification {
    display: inline-block;
    position: relative;
    padding: 6px;
    background: #282828;
    color: #FFFFFF;
    border-radius: 45px;
    font-size: 1.3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.notification::before, 
.notification::after {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.notification::before {
    display: block;
    
    font-family: "FontAwesome";
    transform-origin: top center;
}

.notification::after {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: -9px;
    right: -15px;
    padding: 5px 8px;
    line-height: 100%;
    border: 2px #fff solid;
    border-radius: 60px;
    background: #db3434;
    opacity: 0;
    content: attr(data-count);
    opacity: 0;
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.notification.notify::before {
    animation: ring 1.5s ease;
}

.notification.show-count::after {
    transform: scale(1);
    opacity: 1;
}

.notification-info-panel {
    height: 500px;
    overflow-y: auto;
    padding: 0;
}

.notification-info-panel .notification-message {
    list-style: none;
    padding: 4px;
    background-color: #ebebeb;
    margin-bottom: 3px;
    border: 1px solid #ececec;
    border-radius: 8px;
}

.notification-info-panel .notification-message .timestamp {
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 600;
}

.notification-info-panel .notification-message .content {
    font-size: 17px;
}

.notification-info-panel .notification-message.unread {
    background-color: #17A2B8;
    color: #FFFFFF;
}


